/*  
Name: Nova Marca Imóveis
Author: Izytech Informática
Author URL: http://www.izytech.com.br
*/

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }

ol, ul { list-style: none; }


body {
    background: #eee;
}

#tudo {
    width: 980px;
    position: relative;
    margin: 10px auto;
    font-family: arial;
    border: dotted 1px #666;
}

#topo {
    background: #fff;
    width: 980px;
    height: 300px;
}

.img_topo {
    float: left;
    width: 350px;
    border: 1px dotted red;
}

.titulo {
    float: left;
    padding: 60px;
    font-size: 30px;
    width: 450px;
    border: 1px dotted #0f0;
    text-align: center;
}

.titulo span {
    font-weight: bold;
    font-size: 45px;
}

#topo {
    margin: 10px;
}


#anunciosh {
    clear: both;
    border: #0f0 solid 1px;
    width: 980px;   
    position: relative;
}

.anunciosh_box {
    border: #f00 solid 1px;
    float: left;
    background: #eee;
    padding: 5px;
    width: 300px;
    height:250px;
    margin: 5px;
}


.anunciosh_box_in {
    border: #0f0 solid 1px;
    position: relative;
    padding: 5px;
    width: 290px;
    height: 240px;
    color:#333;
}

.anunciosh_box_in:hover {background: #fff;}


.anunciosh_box_in a {
    text-decoration: none;
    color:#f00;
    font-size:110%;
    font-weight: bold;
    display: block;
}

.anunciosh_box_in a:hover {color:#036;}


.anunciosh_box_in .anunciosh_interesse {

}


#perguntas {
    clear:both;
    width: 200px;
    height: 100px;
}