/*  
Name: Nova Marca Imóveis
Author: Izytech Informática
Author URL: http://www.izytech.com.br
*/

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }

ol, ul { list-style: none; }


body {
   
}

#tudo {
  
}


#topo {	/* border: #f00 solid 1px; */
   
}




#anunciosh {
    clear: both;
    /* border: #0f0 solid 1px; */
    width: 920px;
    max-height: 400px;
    margin-top: 20px;
    margin-left: 40px;}

.anunciosh_btn {padding: 25px;}

.anunciosh_box {
    /* border: #f00 solid 1px; */
    float: left;
    background: url(../images/bg_destaques.png) no-repeat;
    padding: 10px 14px 0 0;
    width: 290px;
    height: 338px;}


.anunciosh_box_in {
    /* border: #0f0 solid 1px; */
    position: relative;
    margin: 1px 0 0 13px;
    padding: 2px 5px;
    width: 260px;
    height: 304px;
    color:#036;
}

.anunciosh_box_in:hover {background: #e1f0fc;}



.anunciosh_box_in .anunciosh_data {
    padding: 1px;
    font-weight: bold;
    font-style: italic;
    font-size: 125%;
}

.anunciosh_box_in a {
    text-decoration: none;
    color:#06f;
    font-size:110%;
    font-weight: bold;
    display: block;
}

.anunciosh_box_in a:hover {color:#036;}


.anunciosh_box_in .anunciosh_interesse {
    position: absolute;
    margin-top: -42px;
    margin-left: 125px;
    line-height: 70px;
    width: 120px; height: 40px;
    background: url(../images/bg_interesse.png) no-repeat right top;
}

.anunciosh_box_in .anunciosh_info {
    position: absolute;
    top: 195px;
    left: 130px;
    line-height: 190%;
    width: 147px; height: 40px;
    background: url(img/bg_lupa.png) no-repeat right top;
}

.anunciosh_box_in .anunciosh_info a {
    color:#fff;
    text-shadow: black 0.05em 0.05em 0.05em;
    font-size:100%;
    width: 147px; hWeight: 40px;
    display: block;
    font-weight: bold;
}

.anunciosh_box_in .anunciosh_info a:hover {color:#BBDBE0; display: block;}

.anunciosh_box_in .anunciosh_info a:visited {color:#fff; text-shadow: black 0.05em 0.05em 0.05em;}


.anunciosh_box_in .des_tipo {
    padding-left: 5px;
    font-size: 100%;
}

.anunciosh_box_in .des_dormgaragem {
    padding-left: 5px;
    font-size: 100%;
    font-style: italic;
}
